{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Cadastro{% endblock %}
{% block page_header %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div>
        <p>
            <strong>OBS.:</strong> Este cadastro é realizado primeiramente no banco de dados de usuários, </br>
            apenas posteriormente, com aprovação do administrador do sistema, que o usuário </br>
            será cadastrado no servidor TS. 
        </p>
        <p>
            <strong>
                Caso o usuário já esteja cadastrado no servidor TS, basta MARCAR
                a opção 'Usuário já encontra-se cadastro no servidor?'
            </strong>
        </p>
    </div>
</div>
    <h1>Cadastro de Usuário</h1>
{% endblock %}
{% block page_content %}
    {% if dados %}
        <ul>
        {% for k, v in dados.items() %}
            <li>{{ k, v }}</li>
        </ul>
        {% endfor %}
    {% else %}
        {{ wtf.quick_form(form) }}
    {% endif %}
{% endblock %}