{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<style>
    h1,
    p {
        margin-left: 20px;
        color: black;
    }
    #cpf_busca {
        background-image: url("{{ url_for('static', filename='img/mulher_empreendedora.jpg')}}");
        background-size: cover;
        background-position: center;
    }
    #busca_form {
        color: black;
    }
    #tickets {
        background-image: url("{{ url_for('static', filename='img/mulher_branca.jpg')}}");
        background-size: cover;
        background-position: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron" id="cpf_busca">
            <div class="row">
                <p>
            Olá,
        {% if current_user.is_authenticated %}
            <strong>{{ current_user.nome }}</strong>!
        {% else %}
            <strong>Anônimo</strong>
        {% endif %}
                </p>
            </div>
            <div class="row">
                <h1 style="color: black;">#Suporte_ Info</h1>
                <p>Envio de emails para clientes cadastrados da Infopublic</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ wtf.quick_form(form, id='busca_form') }}
                </div>
            </div>
            <div class="row" style="text-align: right;">
                <strong>{{ moment(current_time).format('LLL') }}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron" id="servidores">
            <div class="container-fluid">
                <div class="row">
                    <p style="text-align: center; color: black;">
                        Geração de relatórios por servidor
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            <a href="{{ url_for('servidor.srv01') }}">ts01-Hostdime</a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            <a href="{{ url_for('servidor.srv02') }}">ts02-50025</a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            <a href="{{ url_for('servidor.rd_server') }}">RD_Server</a>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            <a href="{{ url_for('servidor.local') }}">Local</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            {{ srv01 }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            {{ srv02 }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            {{ rd_server }}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p style="text-align: center; color: black;">
                            {{ local }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron" id="tickets">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <p style="text-align: center;">Tickets em aberto: {{ num_abertos }}</p>
                    </div>
                    <div class="col-md-6">
                        <p style="text-align: center;">Tickets fechados: {{ num_fechados }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}