{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<style>
    h1,
    p {
        margin-left: 20px;
        color: black;
    }
    .jumbotron {
        background-image: url("{{ url_for('static', filename='img/mulher_empreendedora.jpg')}}");
        background-size: cover;
        background-position: center;
    }
    #busca_form {
        color: black;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <p style="text-align: center;">Clock In realizado: </p>
    <div class="jumbotron">
        <p>
            Olá,
        {% if current_user.is_authenticated %}
            <strong>{{ current_user.username }}</strong>
        {% else %}
            <strong>Anônimo</strong>
        {% endif %}
        </p>
        <h1 style="color: black;">#Suporte_</h1>
        <p>Envio de emails para clientes cadastrados da Infopublic</p>
        <div class="container">
            {{ wtf.quick_form(form, id='busca_form') }}
        </div>
    </div>
</div>
{% endblock %}