{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}User {{ id }}{% endblock %}

{% block head %}
{{ super() }}
<style>
    p.info_user {
        font-weight: normal;
        font-size: 22px;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="container">
    {% if pode_enviar %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% else %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</div>
<h1>{{ nome }} <span style="float: right;">{{ cpf }}</span></h1>
{% endblock %}
{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
        <p class="info_user">id: {{ id }}</p>
        {% if email %}
            <p class="info_user">email: {{ email }}</p>
        {% endif %}
        <p class="info_user">senha: {{ senha }}</p>
        {% if senha_sistema %}
            <p class="info_user">senha sistema: {{ senha_sistema }}</p>
        {% endif %}
        {% if telefone %}
            <p class="info_user">tel: {{ telefone }}</p>
        {% endif %}
        </div>
        <div class="col-md-6">
        <table class="table">             
            <tbody class="info">
                {% for entidade in entidades %}
                    <tr class="info">
                        <td>{{ entidade[0] }}</td>
                        <td>{{ entidade[1] }}</td>
                        <td>{{ entidade[2] }}</td>
                        <td>{{ entidade[3] }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Cadastrar entidade para <strong>{{ nome }}</strong> (apenas se você for administrador)</td>
                    <td><button type="button" onclick="mostraForm()" id="demo">Entidade</button></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="float: right;" id="form_cadastro" hidden>
            {{ wtf.quick_form(form2) }}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById("demo").onclick = mostraForm;
    
    function mostraForm(){
        document.getElementById("form_cadastro").hidden = false;
    }
        
</script>
{% endblock %}